.btnRegistro{
    background-color: #2393AE !important;
    text-align: center;
}

.enlaces{
    display: block !important;
    text-align: center !important;
}

.containerRegistro{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.textfield-form{
    height: 50px;
}